# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable lmgtfy': 'lmgtfy:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'lmgtfy'
      'submenu': [
        { 'label': 'Google It', 'command': 'lmgtfy:google-it' }
      ]
    ]
  }
]
